/* min reste */
*,
::after,
::before {
  box-sizing: border-box;
  text-decoration: none;
  color: initial;
  font-family: "Raleway", sans-serif;
  list-style: none;
  margin: 0;
}

/* variable */
:root {
  --main-blue: #0065fc;
  --grey: #F2F2F2;
}

/*navigation*/

header, main, footer {
  margin: 0px 80px;
}

.logo {
  margin-top: 50px;
}

.links {
  float: right;
  display: flex;
}

.nav-link {
  padding: 80px;
  border-top: 3px solid #ffffff00;
  font-size: 30px;
}

.nav-link a {
  color: inherit;
}
.nav-link:hover {
  color: var(--main-blue);
  border-color: var(--main-blue);
}

/*search*/

.search-input {
  height: 80px;
  width: 300px;
  border: none;
  border: 3px solid var(--grey);
  box-shadow: none;
}

.search-input::placeholder {
  color: black;
  font-weight: 800;
  font-size: 30px;
}
