/* min reset */
*,
::after,
::before {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  color: initial;
  margin: 0;
  padding: 0;
}

/* variable */
:root {
  /* couleurs */
  --main-blue: #0065fc;
  --secondary-blue: #deebff;
  --grey: #f2f2f2;
  --darkgrey: #e2e2e2;
}

/* generic */

header,
main {
  font-family: "Raleway", sans-serif;
  margin: 0px 60px;
}

img {
  object-fit: cover;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* icon */
.ico-blue i::before {
  color: var(--main-blue);
}
.ico-grey i::before {
  color: var(--darkgrey);
}
.ico-white i::before {
  color: white;
}
/*navigation*/

.logo {
  height: 50px;
  margin-top: 30px;
  margin-left: 10px;
}

.links {
  float: right;
  display: flex;
}

.nav-link {
  padding: 50px;
  font-size: 20px;
  cursor: pointer;
  border-top: 3px solid #ff00;
}

.nav-link a {
  color: inherit;
}
.nav-link:hover {
  color: var(--main-blue);
  border-color: var(--main-blue);
}

/*main*/
main {
  margin-top: 30px;
}

h1 {
  font-size: 25px;
  margin: 0 0 10px;
}
p {
  font-weight: 500;
}

/*search*/
.search-bar {
  margin-top: 20px;
  display: flex;
}

.map-container {
  width: 50px;
  border-radius: 15px 0px 0px 15px;
  background-color: var(--grey);
}

.search-input {
  height: 50px;
  width: 250px;
  padding: 20px;
  border-right: none;
  box-shadow: none;
  border: 3px solid var(--grey);
}

.search-input::placeholder {
  font-weight: 800;
  font-size: 17px;
  color: black;
}

.search-button {
  width: 120px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0px 15px 15px 0px;
  background-color: var(--main-blue);
}
.search-button span {
  color: white;
}
.search-button i {
  display: none;
}

.search-button:hover {
  cursor: pointer;
}

/*filters*/

.filters {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.filters > * {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-text {
  font-weight: 900;
}

.filters li:not(:first-child) {
  height: auto;
  font-size: 17px;
  font-weight: 800;
  border-radius: 50px;
  border-left: none;
  border: 2px solid var(--darkgrey);
}

.filters li:hover:not(:first-child) {
  cursor: pointer;
  border-color: var(--main-blue);
  color: var(--main-blue);
}

.filters span {
  padding: 0px 20px;
  color: inherit;
}

.filters-ico-container {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--secondary-blue);
}

/*informations*/

.info-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.info-ico-container {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid var(--grey);
}

/*hebergement*/

#hosting {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
article {
  background-color: var(--grey);
  border-radius: 15px;
  padding: 30px;
}

article#marseille {
  width: 70%;
  height: auto;
  margin-right: 20px;
}

/*cartes*/
.cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  height: 220px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px #82828244;
  padding: 5px;
  margin: 10px;
  min-width: 193px;
  max-width: 400px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}

.img-container {
  height: 50%;
  transition-duration: 0.2s;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 12px;
  height: 120px;
}

.stars {
  display: flex;
  margin-top: auto;
  margin-bottom: 10px;
}

.marseille-more {
  margin: 15px;
  font-weight: 900;
}
/* Carte populairas */

article#famous {
  width: 500px;
}

.famous-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.famous {
  width: 100%;
  height: 160px;
  display: flex;
}

.famous img {
  border-radius: 15px 0px 0px 15px;
}
.card-text {
  width: 200px;
  transition-duration: 0.2s;
}

/* Activités */

section#activity {
  margin-top: 20px;
}

.activity-cards-container {
  margin-top: 30px;
  height: 500px;
  display: flex;
  justify-content: space-around;
}

/* toutes les cartes */
.activty-card {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px #82828244;
  transition-duration: 0.2s;
  display: flex;
  flex-direction: column;
}

.activty-card img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.activty-card h3 {
  padding: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

/* grandes cartes */
.big-card {
  width: 20%;
}
.big-card img {
  height: 87%;
}

/* petites cartes */
.little-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}
.little-card {
  height: 45%;
}
.little-card img {
  height: 70%;
}

/* Bas de page */

footer {
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
  background-color: var(--grey);

  display: flex;
  justify-content: space-around;
}

footer ul {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
footer ul h3 {
  margin-bottom: 10px;
}
footer li {
  margin-top: 10px;
}

footer li:hover a {
  color: var(--main-blue);
}

/* mediaquery */

/*Ordinateur*/
@media screen and (min-width: 992px) {
  .card:hover .img-container {
    height: 45%;
  }

  .famous:hover .card-text {
    width: 220px;
  }

  .big-card:hover {
    width: 30%;
  }

  .little-card:hover {
    width: 120%;
  }
}
/*Tablette*/
@media screen and (max-width: 992px) {
  header {
    margin-bottom: 10px;
  }
  /* hebergement */
  #hosting {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  article#marseille {
    width: 100%;

    margin-bottom: 30px;
  }

  /* Activité */
  .activty-card {
    overflow: hidden;
  }
  .activty-card h3 {
    font-size: 15px;
  }
  .big-card {
    height: 70%;
  }

  .big-card img {
    height: 75%;
  }
  .little-cards {
    height: 70%;
  }
  .little-card img {
    height: 60%;
  }
}
/*Téléphone*/
@media screen and (max-width: 768px) {
  header,
  main {
    margin: 0px 10px;
  }

  /* navigation  */
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-link {
    border-top: 0px;
    border-bottom: 3px solid #ff00;
    margin-bottom: 20px;
  }

  .nav-link:hover {
    color: var(--main-blue);
    border-color: var(--main-blue);
  }

  /* bar de recherche  */
  #search {
    text-align: center;
  }
  .search-bar {
    justify-content: center;
  }
  .search-button {
    width: 54px;
  }
  .search-button i {
    display: block;
  }
  .search-button span {
    display: none;
  }

  /* Filtres */

  .filters {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .filters li {
    margin-bottom: 10px;
  }

  /* hebergement */
  #hosting {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  /* Marseille */
  #marseille {
    background-color: white;
  }

  /* Populaire */
  article#famous {
    width: 100%;
    max-width: 413px;
    height: auto;
    min-width: 276px;
  }

  .card {
    width: 100%;
  }

  /* Activité */
  .activity-cards-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .activty-card {
    height: 220px;
  }
  .big-card {
    width: 90%;
    max-width: 431px;
    margin: 15px;
  }

  .little-cards {
    width: 90%;
    max-width: 431px;
    margin-top: 15px;
  }
  .little-card {
    margin-bottom: 15px;
  }

  /* Bas de page */
  footer {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }
}
